<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
    <mapper namespace="com.mappers.ActorMapper">
    
    <resultMap id="result" type="Actor">
        <result property="id" column="Id"/>
        <result property="name" column="Name"/>
        <result property ="age" column ="Age"/>
        <result property="gender" column="Gender"/>   
        <result property="rating" column="Rating"/>   
    </resultMap>
    
   <select id="selectAll" resultMap="result">
        SELECT * FROM Actor;
    </select>
    
    <select id="selectById" resultMap = "result">
    	SELECT * FROM Actor 
    	WHERE Id = #{id};
    </select>
    
	<select id="actorsAppeared" resultMap="result">
	SELECT * FROM Actor 
	INNER JOIN AppearedIn ON  AppearedIn.ActorId = Actor.Id
	INNER JOIN Movie ON Movie.Id = AppearedIn.MovieId 
	WHERE Movie.Id = #{movieId};
	
	</select>
	
</mapper>
	
	