<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mappers.MovieMapper">
 
    <resultMap id="result" type="Movie">
        <result property="id" column="Id"/>
        <result property="name" column="Name"/>
        <result property="type" column="Type"/>   
        <result property="rating" column="Rating"/>   
        <result property="distributionFee" column="DistrFee"/> 
        <result property="numCopies" column="NumCopies"/> 
             
    </resultMap>
 
    <select id="selectAll" resultMap="result">
        SELECT * FROM Movie;
    </select>
    <select id="selectById" resultMap= "result">
    	SELECT * FROM Movie
    	WHERE Movie.Id=#{id};
    </select>
    <select id="selectByName" resultMap="result">
        SELECT * FROM Movie WHERE Name = #{name};
    </select>
    
    <select id="selectMoviesByType" resultMap = "result">
    	SELECT * FROM Movie 
    	WHERE Type = #{type};
     </select>
     
     <select id="selectHomeScreenMovies" resultType="integer">
     	SELECT Id FROM Movie
     	WHERE Featured = 1;
     </select>
     
     <select id="selectMovieQueue" resultMap="result">
	     SELECT Movie.id ,Movie.Name, Movie.Type, Movie.Rating, Movie.DistrFee, Movie.NumCopies
	     FROM MovieQ
	     INNER JOIN Movie
	     ON MovieQ.MovieId = Movie.Id
	     WHERE AccountId = #{id}
     </select>
    
    <update id="updateByPrimaryKey">
    	UPDATE Movie
    	<set>
    	<if test= "name!=null"> Name = #{movie.name},</if>
    	<if test= "type!=null"> Type = #{movie.type},</if>
    	<if test= "rating!=null"> Rating = #{movie.rating},</if>
    	<if test= "distributionFee!=null"> DistrFee = #{movie.distributionFee},</if>
    	<if test= "numCopies ! = null"> NumCopies = #{movie.numCopies},</if>
    	</set>
    	WHERE Id = #{movie.id};
    </update>
    
    <select id="selectMoviesHistoryByCustomerId" resultMap="result">
    	SELECT Movie.id ,Movie.Name, Movie.Type, Movie.Rating, Movie.DistrFee, Movie.NumCopies 
    	FROM Customer 
		LEFT JOIN Account
		ON Customer.Id = Account.Customer
		LEFT JOIN Rental
		ON Account.Id = Rental.AccountId
		LEFT JOIN Movie
		ON Rental.MovieId = Movie.Id
		LEFT JOIN Orders
		ON Rental.OrderId = Orders.Id
		WHERE Customer.Id = #{customerId}
		AND Orders.ReturnDate IS NULL;
    </select>
     
    <insert id="insertMovie">
	    INSERT INTO Movie(Name,Type,Rating,DistrFee,NumCopies)
	    VALUES(#{movie.name}, #{movie.type}, #{movie.rating}, #{movie.distributionFee}, #{movie.numCopies});
    </insert>
    
	<select id="actorAppearedIn" resultMap="result">    
		SELECT Movie.Name FROM Movie 
		INNER JOIN AppearedIn
		ON Movie.id = AppearedIn.MovieId
		INNER JOIN Actor 
		ON AppearedIn.ActorId = Actor.id
		WHERE Actor.Name = #{actorName};
	</select>
    
</mapper>